---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Indexbanner from "../components/Indexbanner.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import index0 from "/public/imgs/index/index_0.webp";
import index1 from "/public/imgs/index/index1.webp";
import index2 from "/public/imgs/index/index2.webp";
import index3 from "/public/imgs/index/index3.webp";
import index4 from "/public/imgs/index/index4.webp";
import index5 from "/public/imgs/index/index5.webp";
import index6 from "/public/imgs/index/index6.webp";
import hjem1 from "/public/imgs/blomster_hjem/hjem1.webp";
import hjem2 from "/public/imgs/blomster_hjem/hjem2.webp";
import hjem3 from "/public/imgs/blomster_hjem/hjem3.webp";
import hjem4 from "/public/imgs/blomster_hjem/hjem4.webp";
import hjem5 from "/public/imgs/blomster_hjem/hjem5.webp";
import hjem6 from "/public/imgs/blomster_hjem/hjem6.webp";
import hjem7 from "/public/imgs/blomster_hjem/hjem7.webp";
import hjem8 from "/public/imgs/blomster_hjem/hjem8.webp";
import hjem9 from "/public/imgs/blomster_hjem/hjem9.webp";
import hjem10 from "/public/imgs/blomster_hjem/hjem10.webp";
import hvid from "/public/imgs/farvevalg_blomster/hvide_nuancer.webp";
import farver from "/public/imgs/farvevalg_blomster/farverige_nuancer.webp";
import rød from "/public/imgs/farvevalg_blomster/rød_nuance.webp";
import blå from "/public/imgs/farvevalg_blomster/blå_nuance.webp";
import blomst_1 from "/public/imgs/blomster_animation/blomst_1.webp";
import blomst_2 from "/public/imgs/blomster_animation/blomst_2.webp";
import blomst_3 from "/public/imgs/blomster_animation/blomst_3.webp";
import blomst_4 from "/public/imgs/blomster_animation/blomst_4.webp";
import blomst_5 from "/public/imgs/blomster_animation/blomst_5.webp";
import blomst_6 from "/public/imgs/blomster_animation/blomst_6.webp";
import blomst_7 from "/public/imgs/blomster_animation/blomst_7.webp";
import blomst_8 from "/public/imgs/blomster_animation/blomst_8.webp";
import blomst_9 from "/public/imgs/blomster_animation/blomst_9.webp";
import blomst_10 from "/public/imgs/blomster_animation/blomst_10.webp";
import blomst_11 from "/public/imgs/blomster_animation/blomst_11.webp";
import blomst_12 from "/public/imgs/blomster_animation/blomst_12.webp";
---

<MainLayout title="Magnolia">
  <!-- HERO -->
  <section
    class="relative bg-grøn-500 w-full h-screen flex flex-col gap-lg items-center pt-7xl lg:pt-8xl xl:pt-7xl 2xl:justify-center 2xl:pt-0 text-lyserød-500 overflow-clip"
  >
    <div class="flex flex-col gap-4xs items-center">
      <h1 class="font-headline text-display_s md:text-display_lg uppercase">
        Magnolia
      </h1>
      <p class="font-light text-secondbody_s md:text-secondbody_lg">
        Blomsterabonnement på dine betingelser
      </p>
    </div>
    <div class="block md:hidden hover-area">
      <!-- Button for small screens -->
      <Button size="small" variant="secondary" href="/personligt_abonnement"
        >Skræddersy dit abonnemet nu</Button
      >
    </div>
    <div class="hidden md:block hover-area">
      <!-- Button for large screens -->
      <Button size="large" variant="secondary" href="/personligt_abonnement"
        >Skræddersy dit abonnemet nu</Button
      >
    </div>
    <!-- Højre blomsterkrans -->
    <div class="mangeelementerinview">
      <Image
        src={blomst_1}
        alt=""
        class="w-1/3 xl:w-1/4 absolute -right-[8%] xl:right-[17%] top-[53%] xl:-top-[27%] z-10 mangeelementer1"
      />
      <Image
        src={blomst_2}
        alt=""
        class="w-1/3 absolute right-[13%] xl:-right-[6%] top-[56%] xl:-top-[35%] mangeelementer2"
      />
      <Image
        src={blomst_3}
        alt=""
        class="w-1/3 md:w-1/4 absolute right-[32%] xl:-right-[5%] top-[56%] xl:top-[4%] mangeelementer3"
      />
      <Image
        src={blomst_4}
        alt=""
        class="w-1/3 md:w-1/4 absolute right-[48%] xl:-right-[5%] top-[56%] xl:top-[30%] z-10 mangeelementer4"
      />
      <Image
        src={blomst_5}
        alt=""
        class="w-1/3 xl:w-1/2 absolute right-[65%] xl:-right-[15%] top-[56%] xl:top-[25%] mangeelementer5"
      />
      <Image
        src={blomst_6}
        alt=""
        class="w-1/3 absolute -left-[10%] xl:left-[57%] top-[50%] xl:top-[53%] mangeelementer6"
      />
    </div>
    <!-- Venstre blomsterkrans -->
    <div class="mangeelementerinview">
      <Image
        src={blomst_7}
        alt=""
        class="w-1/3 xl:w-1/4 absolute -right-[8%] xl:right-[60%] top-[8%] md:top-[0%] xl:-top-[24%] z-10 mangeelementer7"
      />
      <Image
        src={blomst_8}
        alt=""
        class="w-1/3 md:w-1/4 absolute right-[12%] xl:right-[78%] top-[5%] md:top-[0%] xl:-top-[15%] z-30 mangeelementer8"
      />
      <Image
        src={blomst_9}
        alt=""
        class="w-1/3 absolute right-[28%] xl:right-[78%] top-[3%] md:-top-[8%] xl:-top-[8%] z-20 mangeelementer9"
      />
      <Image
        src={blomst_10}
        alt=""
        class="w-1/3 xl:w-1/4 absolute right-[46%] xl:right-[74%] top-[5%] md:-top-[5%] xl:top-[40%] z-10 mangeelementer10"
      />
      <Image
        src={blomst_11}
        alt=""
        class="w-1/3 absolute left-[5%] xl:-left-[12%] top-[6%] md:-top-[4%] xl:top-[42%] mangeelementer11"
      />
      <Image
        src={blomst_12}
        alt=""
        class="w-1/4 xl:w-1/5 absolute -left-[7%] xl:left-[12%] top-[10%] md:top-[3%] xl:top-[70%] rotate-90 xl:rotate-0 mangeelementer12"
      />
    </div>
  </section>

  <!-- ROLLING BANNER -->
  <div class="mb-lg md:mb-4xl">
    <Indexbanner />
  </div>

  <!-- OM OS -->
  <section class="mx-xs md:mx-4xl mb-xl md:mb-4xl">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-sm md:gap-xl items-center">
      <!-- Billede (venstre kolonne) -->
      <div>
        <Image
          src={index0}
          alt=""
          class="w-full h-full aspect-[4/5] object-cover fadein"
        />
      </div>

      <!-- Tekst (højre kolonne) -->
      <div>
        <h2
          class="font-headline text-headline2_s md:text-headline2_lg text-grøn-700 mb-4xs"
        >
          MAGNOLIA
        </h2>
        <h3 class="font-headline text-headline3_s text-grøn-700 mb-m">
          blomsterabonnement på dine betingelser
        </h3>
        <div class="flex flex-col gap-s">
          <p class="text-grøn-700 font-light">
            Hos Magnolia tilbyder vi et unikt blomsterabonnement, der kombinerer
            bæredygtighed og skønhed. Vores buketter er ikke kun designet til at
            bringe glæde til dit hjem, men også til at skabe en grønnere
            fremtid. Vi forener overskudsblomster, miljøcertificerede valg og
            lokale avlere, hvilket gør vores abonnement både ansvarligt og
            smukt.
          </p>
          <p class="text-grøn-700 font-light">
            Oplev hvordan blomster kan være en del af en bæredygtig livsstil –
            altid på dine betingelser, og leveret direkte til døren. Vi skaber
            smukke øjeblikke med omtanke for planeten.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- DYNAMISK TEKSTUDSKIFTNING -->
  <section
    class="px-xl md:px-4xl py-lg md:py-4xl bg-beige-50 h-fit flex items-center justify-left text-left mb-xl md:mb-4xl"
  >
    <div>
      <h2
        class="font-headline text-headline_s md:text-headline3_lg text-grøn-700"
      >
        HAR DU HUSKET AT FORKÆLE
        <span
          class="text-dynamic font-headline text-headline2_md text-beige-600"
        >
        </span>
      </h2>
      <h2
        class="font-headline text-headline_s md:text-headline3_lg text-grøn-700 mt-md"
      >
        MED ET BLOMSTERABONNEMENT <br /> HOS MAGNOLIA?
      </h2>
    </div>
  </section>

  <!-- VORES BUKETTER -->


  <!-- SKRÆDDERSY DIT ABONNOMENT -->
  <section
    class="grid grid-cols-1 lg:grid-cols-2 gap-m text-grøn-700 mx-xs md:mx-4xl mb-xl md:mb-4xl"
  >
    <!-- Venstre side med tekst -->
    <div class="">
      <h1
        class="font-headline text-headline2_s md:text-headline2_lg mt-s mb-sm md:mb-m"
      >
        Dit personlige blomster abonnement
      </h1>

      <div class="flex flex-col gap-s">
        <p class="text-body_s md:text-body_lg font-light">
          Gør dit hjem smukkere med et blomsterabonnement, der er <br /> tilpasset
          dine ønsker.
        </p>

        <!-- Ikoner -->
        <div
          class="flex flex-col gap-sm justify-center items-center -ml-2xl mb-xs"
        >
          <!-- Budget -->
          <div class="flex flex-col gap-3xs items-center">
            <svg
              class="w-[37px] h-[37px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="0.9"
                d="M17 8H5m12 0a1 1 0 0 1 1 1v2.6M17 8l-4-4M5 8a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.6M5 8l4-4 4 4m6 4h-4a2 2 0 1 0 0 4h4a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1Z"
              ></path>
            </svg>

            <p class="text-body_s font-light">
              <span class=""></span> Budget
            </p>
          </div>

          <!-- Farver-->
          <div class="flex flex-col gap-3xs items-center">
            <svg
              class="w-[37px] h-[37px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="0.9"
                d="M12 7h.01m3.486 1.513h.01m-6.978 0h.01M6.99 12H7m9 4h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 3.043 12.89 9.1 9.1 0 0 0 8.2 20.1a8.62 8.62 0 0 0 3.769.9 2.013 2.013 0 0 0 2.03-2v-.857A2.036 2.036 0 0 1 16 16Z"
              ></path>
            </svg>

            <p class="text-body_s font-light">
              <span class=""></span> Farvepræferencer
            </p>
          </div>

          <!-- Levering -->
          <div class="flex flex-col gap-3xs items-center">
            <svg
              class="w-[37px] h-[37px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="0.9"
                d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
              ></path>
            </svg>

            <p class="text-body_s font-light">
              <span class=""></span> Leveringsdato
            </p>
          </div>
        </div>

        <p class="text-body_s md:text-body_lg font-light">
          Skulle du ønske at pause dit abonnement, springe leveringer over eller
          opsige det, gør vi processen enkel og smertefri. Start dit abonnement
          i dag, og oplev glæden ved altid at have friske, smukke blomster i dit
          hjem.
        </p>
        <p class="text-body_s md:text-body_lg font-light">
          Bestil dit abonnement i dag og lad Magnolia bringe skønhed og ansvar
          ind i din hverdag.
        </p>
      </div>
    </div>

    <!-- Højre side med billede -->
    <div class="flex justify-center items-center">
      <Image
        src={index6}
        alt="Blomsterbillede"
        class="w-full h-full aspect-[1/1] object-cover fadein2"
      />
    </div>
  </section>

  <!-- BESTIL ABONNOMENT -->
  <section class="bg_image mb-xl md:mb-4xl" id="bestil_abonnement">
    <!-- <div class="absolute inset-0 bg-white bg-opacity-25"></div> -->

    <div
      class="relative flex flex-col items-center justify-center h-full text-center px-m py-4xl"
    >
      <!-- Overskrift -->
      <h2
        class="font-headline text-headline2_s md:text-headline2_lg text-grøn-700 mb-sm md:mb-lg"
      >
        Bestil din buket her
      </h2>

      <!-- Knapper -->
      <div class="flex flex-col md:flex-row justify-center gap-2xs md:gap-m">
        <div>
          <div class="block md:hidden hover-area">
            <!-- Button for small screens -->
            <Button size="small" href="/personligt_abonnement"
              >Personligt abonnement</Button
            >
          </div>
          <div class="hidden md:block hover-area">
            <!-- Button for large screens -->
            <Button size="large" href="/personligt_abonnement"
              >Personligt abonnement</Button
            >
          </div>
        </div>
        <div>
          <div class="block md:hidden hover-area">
            <!-- Button for small screens -->
            <Button size="small" href="/personligt_abonnement"
              >Gave abonnement</Button
            >
          </div>
          <div class="hidden md:block">
            <!-- Button for large screens -->
            <Button size="large" href="/personligt_abonnement"
              >Gave abonnement</Button
            >
          </div>
        </div>
        <div>
          <div class="block md:hidden">
            <!-- Button for small screens -->
            <Button size="small" href="/personligt_abonnement"
              >Erhvervs abonnement</Button
            >
          </div>
          <div class="hidden md:block">
            <!-- Button for large screens -->
            <Button size="large" href="/personligt_abonnement"
              >Erhvervs abonnement</Button
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- INSTAGRAM -->

  <section class="relative overflow-hidden w-full mb-3xl">
    <div class="text-center">
      <h2
        class="font-headline text-headline2_s md:text-headline2_lg text-grøn-700 mb-sm md:mb-lg">Jeres blomster i hjemmet</h2>

      <!-- Wrapper til karrusel -->
      <div class="flex justify-center">
        <div
          id="carousel"
          class="flex gap-lg w-[1030px] overflow-x-auto scroll-smooth snap-x snap-mandatory"
        >
          <!-- Billeder -->
          <Image
            src={hjem9}
            alt=""
            class="w-[300px] h-[300px] flex-shrink-0 snap-start"
          />
          <Image
            src={hjem7}
            alt=""
            class="w-[300px] h-[300px] flex-shrink-0 snap-start"
          />
          <Image
            src={hjem3}
            alt=""
            class="w-[300px] h-[300px] flex-shrink-0 snap-start"
          />
          <div class="w-[300px] h-[300px] flex-shrink-0 snap-start ">
          <Image
            src={hjem1}
            alt=""
            class="w-full h-full object-cover"
          />
          </div>
          <Image
            src={hjem2}
            alt=""
            class="w-[300px] h-[300px] flex-shrink-0 snap-start"
          />
          <Image
            src={hjem4}
            alt=""
            class="w-[300px] h-[300px] flex-shrink-0 snap-start"
          />
          <Image
            src={hjem5}
            alt=""
            class="w-[300px] h-[300px] flex-shrink-0 snap-start"
          />
          <Image
            src={hjem6}
            alt=""
            class="w-[300px] h-[300px] flex-shrink-0 snap-start"
          />
          <div class="w-[300px] h-[300px] flex-shrink-0 snap-start ">
          <Image
            src={hjem8}
            alt=""
            class="w-full h-full object-cover"
            />
            </div>
        </div>
      </div>
  
    </div>
  </section>

  <!-- ET GRØNNERE VALG -->
  <section class="bg-beige-50 mx-auto py-xl mb-xl md:mb-4xl text-grøn-700">
    <div class="max-w-[1200px] px-sm md:px-s mx-auto text-center">
      <h2
        class="text-headline2_s md:text-headline2_lg font-headline mb-sm md:mb-m"
      >
        Et grønnere valg
      </h2>
      <!-- Kolonner -->
      <div
        class="grid grid-cols-1 md:grid-cols-3 gap-s md:gap-2xl items-baseline"
      >
        <!-- Kolonne 1 -->
        <div
          class="flex flex-col items-center text-center flex-grow inviewfadein1 opacity-0"
        >
          <img
            src="https://img.icons8.com/ios/50/map-marker--v1.png"
            alt="Danske blomster"
            class="mb-2xs md:mb-s"
          />
          <h3 class="font-headline text-headline3_s mb-2xs md:mb-s">
            Danske blomster
          </h3>
          <p class="mb-s text-body_s md:text-body_lg font-light">
            Vi prioriterer lokalt og dansk. Vores blomster dyrkes på friland
            uden brug af kunstgødning eller sprøjtemidler, hvilket minimerer
            transport og beskytter miljøet. Når du vælger danske blomster,
            støtter du samtidig lokale avlere og bidrager til et sundere klima.
          </p>
        </div>

        <!-- Kolonne 2 -->
        <div
          class="flex flex-col items-center text-center flex-grow inviewfadein2 opacity-0"
        >
          <img
            src="https://img.icons8.com/ios/50/flower--v1.png"
            alt="Friske overskudsblomster"
            class="mb-2xs md:mb-s"
          />
          <h3 class="font-headline text-headline3_s mb-2xs md:mb-s">
            Friske overskudsblomster
          </h3>
          <p class="mb-s text-body_s md:text-body_lg font-light">
            Vi forvandler overskud til elegance. Gennem eksklusive aftaler med
            blomstertransportører redder vi blomster, der stadig er friske, men
            ellers ville være gået til spilde. Disse overskudsblomster er kernen
            i vores buketter, som er designet til at forene skønhed og
            bæredygtighed.
          </p>
        </div>

        <!-- Kolonne 3 -->
        <div
          class="flex flex-col items-center text-center flex-grow inviewfadein3 opacity-0"
        >
          <img
            src="https://img.icons8.com/external-line-lima-studio/64/external-bouquet-event-line-lima-studio.png"
            alt="Certificerede blomster"
            class="mb-2xs md:mb-s"
          />
          <h3 class="font-headline text-headline3_s mb-2xs md:mb-s">
            Certificerede blomster
          </h3>
          <p class="mb-s text-body_s md:text-body_lg font-light">
            Vores sortiment suppleres med blomster fra miljøcertificerede
            gartnerier rundt om i verden. Disse gartnerier arbejder med respekt
            for naturen, reducerer vandspild og sikrer gode arbejdsvilkår. Vi
            prioriterer certificeringer som BIO, MPS og GLOBAL G.A.P., der
            garanterer ansvarlig produktion.
          </p>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .bg_image {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .bg_image:before {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("/public/imgs/index/index1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
  }
</style>

<script>
  
  // CAROUSEL - VORES BUKETTER
 

  // DYNAMISK TEKSTSKIFT
  document.addEventListener("DOMContentLoaded", () => {
    const dynamicText = document.querySelector(".text-dynamic");
    const phrases = [
      "DEN NYBAGTE MOR",
      "FØDSELAREN",
      "TEAMET",
      "DIN KÆRE",
      "DIN MOR",
      "JUBILAREN",
      "ARBEJDSPLADSEN",
      "DIN MORMOR",
      "DIN SØSTER",
      "KONTORET",
      "STUDENTEN",
      "DINE KOLLEGAER",
    ];

    let index = 0;

    function updateText() {
      dynamicText.textContent = phrases[index];
      index = (index + 1) % phrases.length; // Loop tilbage til start
    }

    setInterval(updateText, 1500); // Skift tekst hver 3. sekund
  });

  // INSTAGRAM CAROUSEL

  const carousel = document.getElementById('carousel');
  const scrollByAmount = carousel.clientWidth;
  let autoScrollInterval;

  // Funktion til automatisk rulning
  const autoScroll = () => {
    carousel.scrollBy({ left: scrollByAmount, behavior: 'smooth' });

  // Tjek om vi er ved slutningen og reset til start
  if (carousel.scrollLeft + carousel.clientWidth >= carousel.scrollWidth) {
    setTimeout(() => {
      carousel.scrollTo({ left: 0, behavior: 'smooth' });
    }, 600); // Pause før reset
  }
};

  // Start automatisk rulning
  autoScrollInterval = setInterval(autoScroll, 6000); // Skifter hvert 6. sekund

  // Stop rulning ved hover
  carousel.addEventListener('mouseenter', () => clearInterval(autoScrollInterval));

  // Genoptag rulning når musen forlader karrusellen
  carousel.addEventListener('mouseleave', () => {
    autoScrollInterval = setInterval(autoScroll, 3000);
  });

  // ANIMATIONER
  import { inView, animate } from "motion";

  /* inView & return på grønnere valg */
  inView(".inviewfadein1", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { duration: 1 });
    return () => {
      animate(target, { opacity: 1 });
    };
  });

  inView(".inviewfadein2", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { delay: 0.5, duration: 1 });
    return () => {
      animate(target, { opacity: 1 });
    };
  });

  inView(".inviewfadein3", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { delay: 1, duration: 1 });
    return () => {
      animate(target, { opacity: 1 });
    };
  });

  //   InView animation
  const fadein = document.querySelector(".fadein");

  inView(fadein, () => {
    fadein.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "animate__slower"
    );
  });

  const fadein2 = document.querySelector(".fadein2");

  inView(fadein2, () => {
    fadein2.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "animate__slower"
    );
  });

  // HERO BLOMSTER ANIMATION

  /* Mange elementer der animerer ind */
  inView(".mangeelementerinview", () => {
    animate(
      ".mangeelementer1",
      { x: [-200, 0], y: [0, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer2",
      { x: [-100, 0], y: [0, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer3",
      { x: [-300, 0], y: [0, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer4",
      { x: [-580, 0], y: [-50, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer5",
      { x: [-100, 0], y: [0, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer6",
      { x: [-200, 0], y: [-100, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer7",
      { x: [200, 0], y: [200, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer8",
      { x: [100, 0], y: [0, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer9",
      { x: [300, 0], y: [0, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer10",
      { x: [-100, 0], y: [0, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer11",
      { x: [400, 0], y: [0, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
    animate(
      ".mangeelementer12",
      { x: [500, 0], y: [-100, 0], scale: [1.5, 1] },
      { duration: 5 }
    );
  });
</script>
