---
import "../styles/tailwind.css";
import { Image } from "astro:assets";
import ganni from "/public/imgs/rolling_banner/ganni.svg";
import dangleterre from "/public/imgs/rolling_banner/dangleterre.svg";
import illum from "/public/imgs/rolling_banner/illum.svg";
import madklubben from "/public/imgs/rolling_banner/madklubben.svg";
import maersk from "/public/imgs/rolling_banner/maersk.svg";
import marienlyst from "/public/imgs/rolling_banner/marienlyst.svg";
import original from "/public/imgs/rolling_banner/original.svg";
---

<section class="whitespace-nowrap overflow-x-hidden bg-beige-50 py-xs w-screen">
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-sm"
  >
    <span
      ><Image
        src={ganni}
        alt="Ganni logo"
        height="30px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={original}
        alt="Original coffee logo"
        height="50px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={madklubben}
        alt="Madklubben logo"
        height="30px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={marienlyst}
        alt="Marienlyst logo"
        height="60px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={maersk}
        alt="Maersk logo"
        height="50px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={dangleterre}
        alt="d'Angleterre logo"
        height="60px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={illum}
        alt="Illum logo"
        height="40px"
        className="inline-block max-w-xs"
      /></span
    >
  </div>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-sm"
  >
    <span
      ><Image
        src={ganni}
        alt="Ganni logo"
        height="30px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={original}
        alt="Original coffee logo"
        height="50px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={madklubben}
        alt="Madklubben logo"
        height="30px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={marienlyst}
        alt="Marienlyst logo"
        height="60px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={maersk}
        alt="Maersk logo"
        height="50px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={dangleterre}
        alt="d'Angleterre logo"
        height="60px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={illum}
        alt="Illum logo"
        height="40px"
        className="inline-block max-w-xs"
      /></span
    >
  </div>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-sm"
    aria-hidden="true"
  >
    <span
      ><Image
        src={ganni}
        alt="Ganni logo"
        height="30px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={original}
        alt="Original coffee logo"
        height="50px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={madklubben}
        alt="Madklubben logo"
        height="30px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={marienlyst}
        alt="Marienlyst logo"
        height="60px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={maersk}
        alt="Maersk logo"
        height="50px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={dangleterre}
        alt="d'Angleterre logo"
        height="60px"
        className="inline-block max-w-xs"
      /></span
    >
    <span
      ><Image
        src={illum}
        alt="Illum logo"
        height="40px"
        className="inline-block max-w-xs"
      /></span
    >
  </div>
</section>
